<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "1" 
        version     = "1.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>Memphis Parcel Survey</name>

    <description>
        A parcel/property survey application used for community development. Users and volunteers can report property conditions and code violations so that these community organizations can work to reduce urban blight and serve their neighborhoods.
    </description>

    <author href="http://www.petervanwylen.com/" email="peter@petervanwylen.com">
        Peter VanWylen 
    </author>

	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<preference name="phonegap-version" value="3.1.0" />
	<preference name="orientation" value="portrait" />
	<preference name="detect-data-types" value="false" />
	
	<gap:splash src="splash/ios/splash320x480.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="splash/ios/splash640x960.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="splash/ios/splash640x1136.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="splash/ios/splash1024x748.png" gap:platform="ios" width="1024" height="748" />
	<gap:splash src="splash/ios/splash768x1004.png" gap:platform="ios" width="768" height="1004" />
	<gap:splash src="splash/ios/splash2048x1496.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="splash/ios/splash1536x2008.png" gap:platform="ios" width="1536" height="2008" />

	<access origin="*" />

    <!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
</widget>